{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static './css/gallery.css' %}" />
  </head>
  <body>
    <nav>
      <div class="navCon">
        <div class="Logo">
          <img src="{% static 'assets/icons/logo3.png' %}" alt="" />
        </div>

        <div class="navItems">
          <a href="{% url 'index' %}">Home</a>
          <a href="{% url 'design' %}">Design</a>
          <a href="{% url 'materials' %}">Materials</a>
          <a href="{% url 'gallery' %}">Gallery</a>
          <a href="{% url 'contact' %}">Contact</a>

          <!-- <a href="" class="vendor">Contact Us</a> -->
        </div>
      </div>

      <div class="navItems2">
        <img src="{% static 'assets/needle.png' %}" alt="" />
        <img src="{% static 'assets/like.png' %}" alt="" />
        <img src="{% static 'assets/shopping-cart.png' %}" alt="" />
      </div>
    </nav>

    <div class="section">
      <p>Gallery</p>
      <p class="pact">Home / Design / Materials / Gallery</p>
    </div>

    <div class="latest">
      <p class="blog">Our Blog</p>
      <p id="txt2">Latest Blogs & Posts</p>
      <p class="tx-sm">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
        numquam reiciendis expedita,<br />
        dolor dolorum fugiat deserunt. Et sequi non ducimus?
      </p>
    </div>

    <div class="blogCon">
      <div class="blogParent">
        <div class="blogChild">
          <div class="blogCard">
            <img src="" alt="" />
          </div>

          <div class="blogTxt">
            <p class="tradition">Traditional Wears Are the Best</p>
            <p class="Bunji">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa,
              eveniet neque unde reiciendis accusantium laboriosam soluta
            </p>

            <div class="profile">
              <div class="imgP">
                <img src="" alt="" />
              </div>
              <p>Jonathan Amaka .</p>
              <p>19 Jan 2022</p>
            </div>
          </div>
        </div>

        <div class="blogChild">
          <div class="blogCard">
            <img src="" alt="" />
          </div>

          <div class="blogTxt">
            <p class="tradition">Traditional Wears Are the Best</p>
            <p class="Bunji">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa,
              eveniet neque unde reiciendis accusantium laboriosam soluta
            </p>

            <div class="profile">
              <div class="imgP">
                <img src="" alt="" />
              </div>
              <p>Jonathan Amaka .</p>
              <p>19 Jan 2022</p>
            </div>
          </div>
        </div>

        <div class="blogChild">
          <div class="blogCard">
            <img src="" alt="" />
          </div>

          <div class="blogTxt">
            <p class="tradition">Traditional Wears Are the Best</p>
            <p class="Bunji">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa,
              eveniet neque unde reiciendis accusantium laboriosam soluta
            </p>

            <div class="profile">
              <div class="imgP">
                <img src="" alt="" />
              </div>
              <p>Jonathan Amaka .</p>
              <p>19 Jan 2022</p>
            </div>
          </div>
        </div>

        <div class="blogChild">
          <div class="blogCard">
            <img src="" alt="" />
          </div>

          <div class="blogTxt">
            <p class="tradition">Traditional Wears Are the Best</p>
            <p class="Bunji">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa,
              eveniet neque unde reiciendis accusantium laboriosam soluta
            </p>

            <div class="profile">
              <div class="imgP">
                <img src="" alt="" />
              </div>
              <p>Jonathan Amaka .</p>
              <p>19 Jan 2022</p>
            </div>
          </div>
        </div>

        <div class="blogChild">
          <div class="blogCard">
            <img src="" alt="" />
          </div>

          <div class="blogTxt">
            <p class="tradition">Traditional Wears Are the Best</p>
            <p class="Bunji">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa,
              eveniet neque unde reiciendis accusantium laboriosam soluta
            </p>

            <div class="profile">
              <div class="imgP">
                <img src="" alt="" />
              </div>
              <p>Jonathan Amaka .</p>
              <p>19 Jan 2022</p>
            </div>
          </div>
        </div>

        <div class="blogChild">
          <div class="blogCard">
            <img src="" alt="" />
          </div>

          <div class="blogTxt">
            <p class="tradition">Traditional Wears Are the Best</p>
            <p class="Bunji">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa,
              eveniet neque unde reiciendis accusantium laboriosam soluta
            </p>

            <div class="profile">
              <div class="imgP">
                <img src="" alt="" />
              </div>
              <p>Jonathan Amaka .</p>
              <p>19 Jan 2022</p>
            </div>
          </div>
        </div>

        <div class="blogChild">
          <div class="blogCard">
            <img src="" alt="" />
          </div>

          <div class="blogTxt">
            <p class="tradition">Traditional Wears Are the Best</p>
            <p class="Bunji">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa,
              eveniet neque unde reiciendis accusantium laboriosam soluta
            </p>

            <div class="profile">
              <div class="imgP">
                <img src="" alt="" />
              </div>
              <p>Jonathan Amaka .</p>
              <p>19 Jan 2022</p>
            </div>
          </div>
        </div>

        <div class="blogChild">
          <div class="blogCard">
            <img src="" alt="" />
          </div>

          <div class="blogTxt">
            <p class="tradition">Traditional Wears Are the Best</p>
            <p class="Bunji">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa,
              eveniet neque unde reiciendis accusantium laboriosam soluta
            </p>

            <div class="profile">
              <div class="imgP">
                <img src="" alt="" />
              </div>
              <p>Jonathan Amaka .</p>
              <p>19 Jan 2022</p>
            </div>
          </div>
        </div>

        <div class="blogChild">
          <div class="blogCard">
            <img src="" alt="" />
          </div>

          <div class="blogTxt">
            <p class="tradition">Traditional Wears Are the Best</p>
            <p class="Bunji">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa,
              eveniet neque unde reiciendis accusantium laboriosam soluta
            </p>

            <div class="profile">
              <div class="imgP">
                <img src="" alt="" />
              </div>
              <p>Jonathan Amaka .</p>
              <p>19 Jan 2022</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="Comments">
      <div class="commenTxt">
        <p id="txt2">
          Lets Make Our Website an Interactive And Commemrative Free Haven
        </p>
        <p class="come">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. <br />
          Laborum aliquid natus veniam eos explicabo ratione consectetur
          voluptas dolor sed iure!
        </p>
      </div>

      <div class="darkCon"></div>
    </div>

    <div class="diversion">
      <div class="diverChild">
        <div class="divTxt">
          <p id="txt2">
            Tell us wHAT <br />YOu tHink about <br />
            Our DeSigns
          </p>
          <p class="food">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
            iusto cupiditate velit illo cum vitae commodi error corrupti
            mollitia odio.
          </p>
        </div>

        <div class="Input">
          <div class="inputChild">
            <input type="text" placeholder="Name" class="name" />
            <div class="seperate">
              <input type="text" placeholder="Your Email" class="Email" />
              <input type="text" placeholder="Your Phone" class="Email" />
            </div>

            <input type="text" placeholder="title" class="title" />
            <div class="Area">
              <textarea name="" id="field">Comment</textarea>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="footerCon">
        <div class="grid1">
          <div class="logoFooter">
            <img src="{% static 'assets/icons/logo3.png' %}" alt="" />
          </div>
          <div class="socials">
            <a href="https://web.facebook.com/isabella.christopher.1">
              <img
                src="{% static 'assets/icons/facebook-app-symbol.png' %}"
                alt=""
              />
            </a>
            <a href="https://www.instagram.com/trubella_concept/">
              <img src="{% static 'assets/icons/instagram.png' %}" alt="" />
            </a>
            <a href="https://www.tiktok.com/@onitshafashiondesigner">
              <img src="{% static 'assets/icons/tik-tok.png' %}" alt="" />
            </a>
          </div>
        </div>

        <div class="grid2">
          <div class="gridText">
            <p class="contact">CONTACT US</p>
            <p>OkekeIsa520@gmail.com</p>
            <p>24 Atlantic Ave, Lagos, NY 11201</p>
            <p>Bella Inc</p>
            <p>+234 813 863 4750</p>
          </div>
        </div>

        <div class="grid3">
          <div class="textG">
            <p class="contact">SUBSCRIBE</p>
            <p>Enter your email to get notified <br />about our new designs</p>
          </div>

          <div class="input">
            <input type="text" placeholder="Email" />
          </div>
        </div>
      </div>

      <div class="bott">
        <p>@ 2024 Bella Inc. All rights reserved</p>
      </div>
    </footer>
  </body>
</html>
